h1,h3{
	font-family:Georgia;
	color:gray;
}
h1,#introduction{
	text-align:center;
}
hr{
	width:100%;
	max-width:800px;
}
video{
	display: block;
	margin: 0 auto;
}
p{
	text-indent:2em;
}
article{
        position:relative;
	width:100%;
	max-width:850px;
	margin:0px auto;
}
