section,footer{
	text-align:center;
}
#semester{
	font-style: italic;
}
hr{
	width:100%;
	max-width:800px;
}
table, th, td{
    border: 1px solid black;
}
table{
	margin:auto;
}
caption{
	font-size:1.2em
}
