img{
	float:right;
	width:35%;
}
h1,h3{
	font-family:Georgia;
	color:gray;
}
h1{
	text-align:center;
}
hr{
	width:100%;
	max-width:800px;
}
p{
	text-indent: 2em;
}
article{
	position:relative;
	width:100%;
	max-width:850px;
	margin:0px auto;
}
