h1,h3{
	font-family:Georgia;
	color:gray;
}
h1{
	text-align:center;
}
hr{
	width:100%;
	max-width:800px;
}
img{
	float:left;
	width:25%;
}
p{
	text-indent: 30px;
}
article{
        position:relative;
	width:100%;
	max-width:850px;
	margin:0px auto;
}
